:root {
  /* == Variables == */

  /* Tailwind Zinc */
  --neutral-200: #e4e4e7;
  --neutral-300: #d4d4d8;
  /* 400-600 not included for now */
  --neutral-700: #3f3f46;
  --neutral-800: #27272a;
  --neutral-900: #18181b;
  --neutral-950: #09090b;

  /* Tailwind Cyan */
  --blue-300: #67e8f9;

  /* Color definitions */
  --bg-color: var(--neutral-900);
  --fg-color: var(--neutral-800);
  --fg-bright: var(--neutral-700);
  --text-color: var(--neutral-200);
  --primary-color: var(--blue-300);

  /* == Actual Styles == */

  /*font-family: Inter, Avenir, Helvetica, Arial, sans-serif;*/
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: var(--bg-color);
  color: var(--text-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100vh;

  overflow: hidden;

  display: grid;
  grid-template:
    auto 1fr /
    auto 1fr;
  grid-template-areas:
    "header header"
    "aside  main";
}

header {
  grid-area: header;

  padding: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  background-color: var(--fg-color);
  overflow: hidden;
}

header h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

aside, main {
  overflow-x: hidden;
  overflow-y: auto;
}

aside {
  grid-area: aside;
  width: max(300px, 30vw);
  padding: 1rem;
}

main {
  grid-area: main;
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  min-width: 0;
  overflow: hidden;

  padding: 0.5rem;
  border: none;

  color: inherit;
  background-color: var(--fg-color);
}

.button,
button {
  padding: 0.5rem 1rem;
  border: none;

  color: inherit;
  background-color: var(--fg-color);
}

:is(button, .button):hover {
  cursor: pointer;
  background-color: var(--fg-bright);
}

.add-input {
  container-type: inline-size;
  container-name: add-input;

  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-items: stretch;
}

.add-input input {
  flex: 1;
}

/* Put add button on new line when the input gets too small */
@container add-input (max-width: 300px) {
  button {
    width: 100%;
  }
}

.back-button {
  color: inherit;
  border-radius: 9999px;

  height: 1.5rem;
  text-align: center;
  aspect-ratio: 1/1;
}

.back-button:hover {
  text-decoration: none;
  background-color: var(--fg-bright);
}

.pack-list {
  max-width: 1200px;

  /* Remove bullet list */
  margin: 0 auto;
  padding: 1rem 0;
  list-style: none;

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, 200px);

  justify-content: space-evenly;

  overflow: hidden;
}

.pack-list-item {
  overflow: hidden;
}

.pack-list-item a {
  display: block;

  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;

  aspect-ratio: 3/2;

  background-color: var(--fg-color);
  color: inherit;

  font-size: 1.5rem;
  padding: 1.5rem;

  /* Center the text */
  /* Can't use vertical-align because we're in a 'display: block' */
  display: flex;
  align-items: center;
  justify-content: center;
}

.pack-list-item a:hover {
  text-decoration: none;
  background-color: var(--fg-bright);
}

.card-list {
  /* Remove bullet list */
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  list-style: none;

  /*background-color: #3f3f50;*/

  display: flex;
  /* gap: 0.25rem; */
  flex-direction: column;
  justify-content: stretch;
}

.card-list-item a {
  display: block;

  color: inherit;
  font-weight: 600;

  padding: 0.5rem 0.75rem;
}

.card-list-item a:hover {
  background-color: var(--fg-color);
  text-decoration: none;
}

.card-list-item a.selected {
  background-color: var(--fg-bright);
}

.card-list-item a.selected::before {
  content: "> "
}

.editor {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.25rem 0.5rem;

  color: inherit;
  background-color: var(--fg-color);

  transition: all 0.3s ease;
}

.editor:focus-within {
  box-shadow: 0 0 0 1px var(--primary-color);
}

.editor div {
  outline: none;
  padding: 0.25rem 0;

  font-family: monospace;

  overflow: auto;
  white-space: pre;
}

.save-button {
  width: 100%;
}
