:root {
  /*font-family: Inter, Avenir, Helvetica, Arial, sans-serif;*/
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: inherit;
}

.pack-list {
  /* Remove bullet list */
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.pack-list-item a {
  display: block;

  text-align: center;
  color: black;
  background-color: white;

  font-size: 1.5rem;
  padding: 1.5rem;
}

.card-list {
  /* Remove bullet list */
  margin: 0;
  padding: 1rem;
  list-style: none;

  background-color: #dadada;

  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  justify-content: stretch;
}

.card-list-item a {
  display: block;

  vertical-align: middle;
  color: #101010;
  background-color: #f0f0f0;

  padding: 0.25rem 0.75rem;
}

.card-list-item.selected a {
  color: black;
  background-color: white;
}

.card-list-item.selected a::before {
  content: "> "
}
