:root {
  /*font-family: Inter, Avenir, Helvetica, Arial, sans-serif;*/
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* Tailwind slate-800 */
  background-color: #1e293b;
  /* Tailwind slate-200 */
  color: #e2e8f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
}

button:hover {
  cursor: pointer;
}

#header {
  /* Tailwind slate-700 */
  background-color: #334155;
  padding: 1rem;
}

#header div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

main {
  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  /* Tailwind cyan-300 */
  color: #67e8f9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.back-button {
  color: inherit;
  border-radius: 9999px;

  height: 1.5rem;
  text-align: center;
  aspect-ratio: 1/1;
}

.back-button:hover {
  text-decoration: none;
  /* Tailwind slate-700 */
  background-color: rgba(0, 0, 0, 0.1);
}

.pack-list {
  /* Remove bullet list */
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.pack-list-item a {
  display: block;

  text-align: center;
  /* Tailwind slate-700 */
  background-color: #334155;
  color: inherit;

  font-size: 1.5rem;
  padding: 1.5rem;
}

.pack-view {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 3fr;
}

.card-list {
  /* Remove bullet list */
  margin: 0;
  padding: 0;
  list-style: none;

  /*background-color: #3f3f50;*/

  display: flex;
  /* gap: 0.25rem; */
  flex-direction: column;
  justify-content: stretch;
}

.card-list-item a {
  display: block;

  color: inherit;
  font-weight: 600;

  padding: 0.5rem 0.75rem;
}

.card-list-item a.selected {
  /* Tailwind slate-700 */
  background-color: #334155;
}

.card-list-item a.selected::before {
  content: "> "
}

.editor textarea {
  width: 100%;
  padding: 1rem;
  border: none;

  resize: none;

  font-family: "monospace";
  color: inherit;
  /* Tailwind slate-700 */
  background-color: #334155;
}

.save-button {
  width: 100%;
  padding: 0.5rem;
  border: none;

  color: inherit;
  /* Tailwind slate-700 */
  background-color: #334155;
}
