:root {
  /*font-family: Inter, Avenir, Helvetica, Arial, sans-serif;*/
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: #262533;
  color: #f0f0f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;

  padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: #b49af5;
  text-decoration: inherit;
}

a:hover {
  color: #efdfff;
}

.pack-list {
  /* Remove bullet list */
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.pack-list-item a {
  display: block;

  text-align: center;
  color: black;
  background-color: white;

  font-size: 1.5rem;
  padding: 1.5rem;
}

.card-list {
  /* Remove bullet list */
  margin: 0;
  padding: 0;
  list-style: none;

  /*background-color: #3f3f50;*/

  display: flex;
  /* gap: 0.25rem; */
  flex-direction: column;
  justify-content: stretch;
}

.card-list-item a {
  display: block;

  color: inherit;
  font-weight: 600;

  padding: 0.5rem 0.75rem;
}

.card-list-item a:hover,
.card-list-item a.selected {
  background-color: #4a4a5f;
}

.card-list-item a.selected::before {
  content: "> "
}
